In [1]:
taxi = pd.read_csv("edited_taxi.csv")
from taxi_pakage import *

In [2]:
score, result_set = cross_validater("trip_duration ~ dist", taxi, 3, r_seed=3)

In [3]:
score

[0.68052068048672376, 0.68142038340530553, 0.69670774083593345]

In [4]:
result_set

,R-square,AIC,BIC,Cond.No.,Pb(Fstatics),Pb(omnibus),Pb(jb),Dub-Wat,Remarks
0,0.008,1.956518e+07,1.956520e+07,7.120,0.0,0.0,0.0,2.000,trip_duration ~ dist
1,0.007,1.967129e+07,1.967132e+07,7.119,0.0,0.0,0.0,2.000,trip_duration ~ dist
2,0.016,1.874716e+07,1.874719e+07,7.186,0.0,0.0,0.0,2.002,trip_duration ~ dist

---

In [20]:
kaggle = pd.read_csv("test_taxi.csv")

In [21]:
y_hat = result.predict(kaggle)

In [22]:
ans = pd.concat([kaggle['id'], y_hat], axis=1)

In [23]:
ans2 = ans.rename(columns={'id':'id' , 0:'trip_duration'})

In [24]:
ans2.tail()

               id  trip_duration
625129  id3008929       5.521802
625130  id3700764       6.748638
625131  id2568735       6.856633
625132  id1384355       7.410451
625133  id0621643       6.624403

In [25]:
import math

In [26]:
import sys
sys.maxsize

9223372036854775807

In [30]:
ans2['trip_duration'] = ans2['trip_duration'].apply(lambda x: int(round(np.exp(x))))

OverflowError: Python int too large to convert to C unsigned long

In [29]:
ans2['trip_duration'] = ans2['trip_duration'].apply(lambda x: 0 if math.isnan(x) else x)

In [160]:
ans2.to_csv('answer.csv', index=False)